.header{
    background-color: #1f2937;
    font-family: roboto;
    color: white;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20;
    margin: 0 auto;
    max-width: 1200px;
}

.header .logo{
    display: flex;
    align-items: center;
    
}

.header a{
    text-decoration: none;
    color: white;
}

.header ul{
    display: flex;
    list-style-type: none;
    gap: 15px;
    
    
}

.header ul li{
    display: inline;
    color: white;
}








.banner{
    background-color: #1f2937;
    padding-top: 80px;
    padding-bottom: 80px;
    
}

.banner .container{
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    max-width: 1200px;
    margin: 0 auto;
}

.banner .text{
    
    
    max-width: 50%;  
    
}

.banner .text h1{
    
    margin-bottom: 0px;
}

.banner .text p{
    margin-top: 0px;
    
}

.banner button{

}

.imgblock{
    width: 500px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    max-width: 50%;
    
}







.infoblock{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;
    margin: 0 auto;
    max-width: 1200px;

}

.infoblock .icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}

.infoblock h2{
    display: flex;
    justify-content: center;
}

.infoblock .pic img{
    border: 1px solid black;
    height: 150px;
    width: 150px;
}

.infoblock .pic{
    display: flex;
    max-width: 150px;
    text-align: center;
    flex-direction: column;
}





.quote{
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote .container{
    display: flex;
    
    max-width: 1200px;
    padding: 50px;
    margin: 0 auto;
    


}

.quote .container p{
    text-align: right;
}





.signup{
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
}

.signup .container{
    background-color: blue;
    display: flex;
    justify-content: space-between;
    max-width: 1200;
    padding: 15px;
    width: 100%;
}

.signup .container .text{
    padding-left: 50px;
}

.signup .container button{
    margin-right: 50px;
}